@font-face {
  font-family: "KumbhSans";
  font-display: swap;
  src: url("../fonts/KumbhSans-Bold.woff") format("woff"), url("../fonts/KumbhSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KumbhSans";
  font-display: swap;
  src: url("../fonts/KumbhSans-Light.woff") format("woff"), url("../fonts/KumbhSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMono";
  font-display: swap;
  src: url("../fonts/SpaceMono-Bold.woff") format("woff"), url("../fonts/SpaceMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMono";
  font-display: swap;
  src: url("../fonts/SpaceMono-Regular.woff") format("woff"), url("../fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url(../fonts/icons.woff) format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  display: block;
}

._icon-close-btn:before {
  content: "\e900";
}

._icon-check-btn:before {
  content: "\e901";
}

._icon-stroke-btn:before {
  content: "\e902";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --mainColor: #F87070;
}

body {
  font-family: "KumbhSans";
  font-weight: 700;
}

._container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: #1E213F;
}

.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  padding: 40px 15px;
}

.page__settings-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer__timer-control {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.timer__clock {
  position: relative;
  z-index: 5;
}

.timer__clock-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #D7E0FF;
  font-size: 85px;
}

.timer__clock-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 10px;
}

.timer .button {
  font-size: calc(14px + 2 * (100vw - 320px) / 850);
  letter-spacing: calc(13px + 2 * (100vw - 320px) / 850);
  color: #D7E0FF;
  background: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 19px;
  text-align: center;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.timer .button:hover {
  color: var(--mainColor);
}

.timer .start {
  display: none;
}

.timer .start._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timer .restart {
  display: none;
}

.timer .restart._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timer .pause {
  display: none;
}

.timer .pause._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timer .progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: -o-linear-gradient(135deg, #2E325A 0%, #0E112A 100%);
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
  -webkit-box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
          box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
  border-radius: 50%;
  width: 380px;
  height: 380px;
}

.timer .progress-ring__circle {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  fill: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
}

.timer .progress-ring__circle-line {
  stroke: var(--mainColor);
  stroke-linecap: round;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: stroke-dashoffset 0.4s ease;
  -o-transition: stroke-dashoffset 0.4s ease;
  transition: stroke-dashoffset 0.4s ease;
}

.timer__header-text {
  color: #D7E0FF;
  font-size: calc(24px + 8 * (100vw - 320px) / 850);
  margin-bottom: 45px;
}

.timer__slider {
  position: relative;
  margin-top: 170px;
}

.timer__icon {
  background: none;
  outline: none;
  position: relative;
  z-index: 5;
}

.control {
  background: #161932;
  border-radius: 31.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
  width: 100%;
  padding: 0 8px;
  z-index: 5;
}

.control__block {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  color: rgba(215, 224, 255, 0.4);
  font-size: calc(12px + 2 * (100vw - 320px) / 850);
  padding: 27px 10px;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  max-width: 130px;
  width: 100%;
}

.control__block._active {
  background: var(--mainColor);
  border-radius: 26.5px;
  color: #1E213F;
  padding: 19px 10px;
}

.control__block:hover {
  color: #D7E0FF;
}

.control__item {
  white-space: pre;
}

.fas.fa-cog {
  color: rgba(215, 224, 255, 0.5);
  font-size: 20px;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.fas.fa-cog:hover {
  color: #d7e0ff;
}

.settings {
  background: #ffffff;
  max-width: 540px;
  width: 100%;
  border-radius: 25px;
  position: relative;
  margin: 0 auto;
  position: absolute;
  top: -100vh;
  -webkit-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  transition: top 0.4s ease;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.settings._active {
  top: 20vh;
}

.settings__block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid #e3e1e1;
}

.settings__block-font {
  border-top: 1px solid rgba(22, 25, 50, 0.1);
  border-bottom: 1px solid rgba(22, 25, 50, 0.1);
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings__block-color {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings__block-to-choose {
  padding: 20px 30px 40px 30px;
}

.settings__header {
  font-size: calc(20px + 8 * (100vw - 320px) / 850);
  color: #161932;
}

.settings__close {
  background: none;
  outline: none;
  color: rgba(30, 33, 63, 0.5);
}

.settings__text {
  font-size: calc(11px + 2 * (100vw - 320px) / 850);
  letter-spacing: 4px;
  color: #161932;
}

.settings__apply-btn {
  max-width: 140px;
  width: 100%;
  height: 53px;
  background: var(--mainColor);
  border-radius: 26.5px;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  bottom: -53px;
  left: 50%;
  -webkit-transform: translate(-50%, -26.5px);
      -ms-transform: translate(-50%, -26.5px);
          transform: translate(-50%, -26.5px);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.settings__apply-btn:hover {
  background: rgba(248, 112, 112, 0.9);
}

._icon-close-btn {
  font-size: 16px;
  color: rgba(22, 25, 50, 0.5);
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

._icon-close-btn:hover {
  color: #1e213f;
}

.block-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 26px 0 24px 0;
}

.block-control__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}

.block-control__item:not(:last-child) {
  margin-right: 10px;
}

.block-control__header {
  font-size: 12px;
  color: rgba(30, 33, 63, 0.4);
  margin-bottom: 10px;
}

.block-control__input {
  position: relative;
  max-width: 140px;
  width: 100%;
}

.block-control__stroke-buttons {
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-control ._icon-stroke-btn {
  font-size: 6px;
  color: rgba(30, 33, 63, 0.25);
  background: none;
  outline: none;
}

.block-control ._icon-stroke-btn.down::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.block-control__input-form {
  background-color: #eff1fa;
  border-radius: 10px;
  max-width: 140px;
  width: 100%;
  height: 48px;
  color: #1e213f;
  font-size: 14px;
  padding: 15px;
}

.block-control__input-form::-webkit-inner-spin-button,
.block-control__input-form::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.fonts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fonts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(239, 241, 250, 0);
  color: rgba(30, 33, 63, 0.73);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.fonts__item:not(:last-child) {
  margin-right: 16px;
}

.fonts__item-inner {
  font-size: 15px;
  width: 40px;
  height: 40px;
  background: #eff1fa;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.fonts__item._active .fonts__item-inner {
  background: #161932;
  color: #ffffff;
}

.fonts__item:hover {
  border: 1px solid #eff1fa;
}

.fonts__item._active:hover {
  border: 1px solid #161932;
}

.fonts #kumbh {
  font-weight: 300;
}

.fonts #roboto {
  font-weight: 400;
}

.fonts #space {
  font-weight: 700;
}

.fa-check {
  font-size: 12px;
}

.setting__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(239, 241, 250, 0);
  color: rgba(30, 33, 63, 0.73);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  pointer-events: all;
}

.color__item:first-child:hover {
  border: 1px solid #f87070;
}

.color__item:nth-child(2):hover {
  border: 1px solid #70f3f8;
}

.color__item:last-child:hover {
  border: 1px solid #d881f8;
}

.color__item:not(:last-child) {
  margin-right: 16px;
}

.color__item-inner {
  font-size: 15px;
  width: 40px;
  height: 40px;
  background: #eff1fa;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: all;
}

._icon-check-btn {
  font-size: 12px;
}

#red-color {
  background: #f87070;
}

#red-blue {
  background: #70f3f8;
}

#red-purple {
  background: #d881f8;
}

@media (max-width: 450px) {
  .timer__clock-time {
    font-size: 60px;
  }

  .timer .progress-ring {
    width: 290px;
    height: 290px;
  }

  .control__block {
    font-size: 10px;
  }

  .settings {
    width: 90%;
  }

  .settings._active {
    top: 10vh;
  }

  .settings__block-header {
    padding: 20px 20px;
  }

  .settings__block-font {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    height: 117px;
  }

  .settings__block-color {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    height: 117px;
  }

  .settings__block-to-choose {
    padding: 20px 15px 30px 15px;
  }

  .settings__text {
    text-align: center;
  }

  .settings__apply-btn {
    height: 40px;
    max-width: 120px;
    bottom: -45px;
  }

  .block-control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-control__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .block-control__item:not(:last-child) {
    margin-right: unset;
    margin-bottom: 10px;
  }

  .block-control__header {
    margin-bottom: unset;
  }

  .block-control__input-form {
    height: 40px;
  }

  .fonts__item:not(:last-child) {
    margin-right: 15px;
  }

  .color__item:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 350px) {
  ._container {
    padding: 40 15px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 450px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 350px){

@supports (-webkit-appearance:none){

}

}
